<mat-sidenav-container>
  <mat-sidenav #menuLateral>
    <mat-nav-list>
      <div *ngFor="let opcion of opciones">
        <div [routerLink]="opcion.url" class="menu-button" (click)="menuLateral.toggle()">
          <img [src]="opcion.icono" class="menu-icon" alt="{{ opcion.titulo }}">
          {{ opcion.titulo }}
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="menuLateral.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button routerLink="anio">
        <mat-icon>home</mat-icon>
      </button>
      <img src="Imagenes/landscape.jpg" height="80px" alt="Paisaje">
      <div class="centrar">
        festivos
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>